:root {
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-700: hsl(245, 19%, 35%);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);
  --Gradient-text: linear-gradient(
    to right,
    hsl(7, 86%, 67%),
    hsl(0, 0%, 100%)
  );
}
.x {
  width: 50px;
  border-radius: 50%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/background-desktop.png);
  background-size: cover;
  background-position: bottom;
  font-family: "Inconsolata", monospace;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}
@media (max-width: 768px) {
  body {
    background-image: url(images/background-mobile.png);
  }
}
main {
  max-width: 600px;
  width: 100%;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  main {
    max-width: 400px;
    padding: 5px 10px;
  }
}
.info {
  margin-top: 0.4rem;
}
.info h2 {
  font-size: 2.2rem;
  word-spacing: 9px;
  text-align: center;
}
.info p {
  margin-top: 1rem;
  font-size: 1rem;
  word-spacing: 4px;
  text-align: center;
  color: var(--Neutral-300);
}
@media (max-width: 768px) {
  .info h2 {
    font-size: 1.8rem;
  }
  .info p {
    max-width: 300px;
    margin: 5px auto;
  }
}
form {
  max-width: 300px;
  width: 100%;
  margin-top: 1rem;
}

.upload-avatar span {
  font-size: 0.8rem;
  color: var(--Neutral-300);
}
.upload-avatar label {
  border-radius: 8px;
  padding: 15px 0;
  background-color: var(--Neutral-900);
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed var(--Neutral-300);
  transition: 0.3s;

  position: relative;
}
.upload-avatar label:hover {
  cursor: pointer;
}
.upload-avatar label:hover .avatar {
  transform: scale(1.02);
}
.upload-avatar label .avatar {
  background-color: var(--Neutral-700);
  padding: 2px;
  border-radius: 10px;
}
.upload-avatar label .owner {
  width: 50px;
  border-radius: 10px;
  margin-top: -5px;
  cursor: auto;
}
.upload-avatar label .avatar-field {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.upload-avatar label p {
  margin-top: 5px;
  font-size: 0.7rem;
  color: var(--Neutral-300);
  word-spacing: 4px;
}
.upload-avatar .error-avtar {
  margin-top: 5px;
  color: var(--Neutral-500);
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--Orange-700);
}
.box-of-btn {
  display: flex;
}
.remove-btn,
.change-btn {
  display: block;
  margin-top: 10px;
  margin-left: 8px;
  background-color: var(--Neutral-700);
  color: var(--Neutral-300);
  font-size: 0.6rem;
  word-spacing: 2px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.remove-btn:hover,
.change-btn:hover {
  transform: scaleX(1.02);
  opacity: 0.8;
}
.line-bottom-desktop {
  position: absolute;
  bottom: 0;
  left: -70px;
  z-index: -1;
}

.line-top {
  width: 450px;
  position: absolute;
  z-index: -1;
  top: 70px;
  right: 0;
}
.line-bottom-mobile {
  display: none;
}
@media (max-width: 768px) {
  .line-bottom-desktop {
    display: none;
  }
  .line-bottom-mobile {
    display: inline;
    position: absolute;
    bottom: 31px;
    left: 5px;
    z-index: -1;
    width: 342px;
  }

  .line-top {
    width: 100px;
    top: 20px;
  }
}

.full-name,
.email,
.github {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
}
.full-name label,
.email label,
.github label {
  font-size: 0.8rem;
  margin-bottom: 5px;
  color: var(--Neutral-300);
}

.full-name input,
.email input,
.github input {
  border: none;
  outline: none;
  background-color: var(--Neutral-900) !important;
  padding: 10px 8px;
  border: 1px solid var(--Neutral-700);
  border-radius: 8px;

  color: var(--Neutral-300);
}
input:focus {
  outline: 3px double var(--Neutral-500);
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px hsl(248, 70%, 10%) inset !important;
  -webkit-text-fill-color: var(--Neutral-300) !important;
  transition: background-color 5000s ease-in-out 0s;
}
.error-avtar,
.full-name .error-name,
.email .error-email,
.github .error-github {
  opacity: 0;
  margin-top: 5px;
  color: var(--Neutral-500);
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--Orange-500);
}
.submit-btn {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 12px 0;
  background-color: var(--Orange-500);
  outline: none;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.submit-btn:hover {
  transform: scale(1.02);
}
/* .full-name .error-name img,
.email .error-email img,
.github .error-github img {
  :var(--Orange-500);
} */

.error-avtar.show,
.error-name.show,
.error-email.show,
.error-github.show {
  opacity: 1;
}
.none {
  display: none;
}

.box-ticket {
  max-width: 100%;
}
.info-tecket h2 {
  margin-top: 1.2rem;
  font-size: 2.7rem;
  word-spacing: 9px;
  text-align: center;
}
.info-tecket h2 p {
  display: inline;
  font-size: 2.7rem;
  background: var(--Gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info-tecket p {
  margin-top: 1.2rem;
  font-size: 24px;
  text-align: center;
  color: var(--Neutral-300);
}
.info-tecket p span {
  color: var(--Orange-500);
}
.ticket-box {
  position: relative;
  max-width: 450px;
  margin: 4rem auto;
  background-image: url(images/pattern-ticket.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ticket-number {
  font-size: 1.5rem;
  position: absolute;
  right: 35px;
  color: var(--Neutral-500);
  letter-spacing: -1px;
  transform: rotate(90deg);
}

.ticket-box .date {
  margin-left: 45px;
}
.ticket-box .info-event .date span {
  color: var(--Neutral-300);
  font-size: 0.8rem;
}
.ticket-box .info-event .date span.day {
  margin-left: -5px;
}
.ticket-box .user {
  display: flex;
}

.ticket-box .user .profile-user img {
  width: 70px;
  border-radius: 8px;
}
.ticket-box .user .info-user {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.ticket-box .user .info-user p.name-user {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.ticket-box .user .info-user p.github-user {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--Neutral-300);
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .info-tecket h2 {
    font-size: 1.8rem;
  }
  .info-tecket h2 p.user-name {
    font-size: 1.8rem;
  }
  .info-tecket p:nth-child(2) {
    font-size: 22px;
  }
  .ticket-box {
    width: 370px;
    height: 180px;
  }
  .ticket-box h1 img {
    width: 150px;
  }
  .profile-user img {
    width: 50px;
  }
  .ticket-number {
    right: 0;
  }
}
